@import './base.css';

.container{
  width: 1120px;
}

a{
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover{
  color: #4DB6AC !important;
}

.router-link-active{
  color: #009688 !important;
}
